.idea/*
output/*
build/*
dist/*
__pycache__/*
*.zip
Zombie mode songs/*
bin/*
downloads/*
*.sfk
/signature.json
/versions.json
/video-dl.exe.spec
/avcodec-59.dll
/avdevice-59.dll
/avfilter-8.dll
/avformat-59.dll
/avutil-57.dll
/ffprobe.exe
/ffmpeg.exe
/poetry.lock
/pyproject.toml
/swresample-4.dll
/swscale-6.dll
/venv/*
settings.json
launch.json
.env
venv/*
.vscode/*
.DS_Store
*/__pycache__/*
.cspell/*
*.dll
*.exe
Video-dl.app/*
*.log
.VSCodeCounter/*
*.toml
*.pyc
tmp/
*.old
